engine-strict=true
auto-install-peers=false
strict-peer-dependencies=false
link-workspace-packages=false

# Expo doesn't play nice with pnpm by default. 
# The symbolic links of pnpm break the rules of Expo monorepos.
# @link https://docs.expo.dev/guides/monorepos/#common-issues
node-linker=hoisted